@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: #2C2C2C;
  color: #ececec;
  white-space: nowrap;
  cursor: default;
}

body::-webkit-scrollbar {
  width: 0;
}

button {
  background: none;
}

/*Элементы*/
.btn button {
  padding: 8px;
  background: #0A9CEE;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0 0 7px 0 #121212;
          box-shadow: 0 0 7px 0 #121212;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.btn a {
  color: #181818;
  line-height: 24px;
}

.btn button:hover {
  background: #0c6da6;
}

.btn button:active {
  background: #181818;
}

.btn a:active {
  color: #ececec;
}

.rectangle {
  width: 16px;
  height: 3px;
  margin: 0 auto;
  border-radius: 0px 0px 2px 2px;
  margin-bottom: -3px;
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.txt_btn button:hover .rectangle {
  width: 100%;
  background: #D9D9D9;
}

.txt_btn a {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ececec;
  padding: 0 4px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.f_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.f_btn a {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ececec;
}

/**/
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top {
  background: url("../img/bg.svg") center/cover no-repeat, url("../img/bg2.svg") center/cover no-repeat;
}

.top__cont {
  max-width: 1440px;
  margin: 0 auto;
}

.top__row {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__start button {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  padding: 12px 14%;
}

.btn__start a {
  color: #181818;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  background: rgba(44, 44, 44, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 0.833333333% 0;
  z-index: 2;
}

.menu__cont {
  max-width: 1312px;
  margin: 0 auto;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51%;
          flex: 0 1 51%;
}

.menu_btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu_btn__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_nav {
  margin: 0 16px;
}

.menu_nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.menu_auth__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.menu_auth__input a {
  font-weight: 400;
  font-size: 20px;
}

.roadmap {
  padding: 48px 0 68px;
}

.roadmap__cont {
  min-width: 100vh;
  height: 1070px;
}

.roadmap__goal {
  background: url("../img/roadmap.png") top center/contain no-repeat;
}

@media (max-width: 1920px) {
  .roadmap__goal {
    background: url("../img/roadmap.png") top center/cover no-repeat;
  }
}
.roadmap__row {
  margin: 62px 0 0;
  padding: 105px 0 106px;
  gap: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.roadmap__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.goal {
  width: 176px;
}

.goal__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goal__img {
  margin: 0 0 0 -4px;
}

.goal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4px 4px 4px 20px;
}

.goal__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 8px;
}

.goal__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 4px;
}

.team__cont {
  margin: 0 auto;
}

.team__card {
  padding: 32px 0;
}

.team__card__cont {
  width: 1440px;
  margin: 0 auto;
  /*height: 325px;*/
}

.team__card__row {
  cursor: -webkit-grab;
  cursor: grab;
}

.team__card__row:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.card {
  margin: 0 0 0 32px;
  background: #0C6DA6;
  border: 1px solid #181818;
  border-radius: 16px;
  overflow: hidden;
}

.card__cont {
  position: relative;
  width: 224px;
  height: 336px;
}

.card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 224px;
}

.card__body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px 16px;
  display: inline-block;
}

.card__job_title {
  background: #181818;
  border-radius: 42px;
  padding: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.card__name {
  margin: 8px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.card__text {
  margin: 8px 0 0 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.team__card_1 .card__img {
  background: url("../img/avatar1.svg") 0 0/100% 100% no-repeat;
}

.team__card_2 .card__img {
  background: url("../img/avatar2.svg") 0 0/100% 100% no-repeat;
}

.team__card_3 .card__img {
  background: url("../img/avatar3.svg") 0 0/100% 100% no-repeat;
}

.team__card_4 .card__img {
  background: url("../img/avatar4.svg") 0 0/100% 100% no-repeat;
}

.team__card_5 .card__img {
  background: url("../img/avatar5.svg") 0 0/100% 100% no-repeat;
}

.team__card_6 .card__img {
  background: url("../img/avatar6.svg") 0 0/100% 100% no-repeat;
}

.team__card_7 .card__img {
  background: url("../img/avatar7.svg") 0 0/100% 100% no-repeat;
}

.team__card_8 .card__img {
  background: url("../img/avatar8.svg") 0 0/100% 100% no-repeat;
}

.team__card_9 .card__img {
  background: url("../img/avatar9.svg") 0 0/100% 100% no-repeat;
}

.footer {
  padding: 16px 0 48px;
}

.footer__cont {
  max-width: 1184px;
  margin: 0 auto;
}

.footer__social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  padding: 0 0 0 25px;
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.svg_btn {
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

.svg_btn:hover {
  opacity: 0.3;
}

.svg_btn:active {
  opacity: 0.08;
}

.footer__nav {
  padding: 48px 3.15893386% 56px;
  margin: 0 auto;
}

.footer_nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}

.footer_nav__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer_nav__title {
  margin: 0 0 16px 0;
}

.footer_nav__btn {
  margin: 0 0 16px 0;
}

.footer_nav__btn:last-child {
  margin: 0;
}

.footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.footer__text p:first-child a {
  text-decoration: none;
}

.footer__text a {
  color: #ececec;
  text-decoration: underline;
}