@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: #2C2C2C;
  color: #ececec;
  white-space: nowrap;
}

body::-webkit-scrollbar {
  width: 0;
}

body a {
  color: #ececec;
}

/*Элементы*/
.btn button {
  padding: 8px;
  line-height: 24px;
  background: #0A9CEE;
  color: #181818;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  -webkit-box-shadow: 0 0 7px 0 #121212;
          box-shadow: 0 0 7px 0 #121212;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.btn button:hover {
  background: #0c6da6;
}

.btn button:active {
  background: #181818;
  color: #ececec;
}

.txt_btn button {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ececec;
  background: none;
  padding: 0 4px;
}

.txt_btn:hover {
  border-bottom: 3px solid #D9D9D9;
  border-radius: 2px;
  margin-bottom: -3px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.f_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.f_btn button {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ececec;
  background: none;
}

/**/
.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top {
  background: url("../img/bg.svg") center/cover no-repeat;
}

.top__cont {
  max-width: 1440px;
  margin: 0 auto;
}

.top__row {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__start button {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  padding: 12px 14%;
}

.btn__start button a {
  color: #181818;
}

.menu {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  background: rgba(44, 44, 44, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 0.833333333% 0;
}

.menu__cont {
  max-width: 1312px;
  margin: 0 auto;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51%;
          flex: 0 1 51%;
}

.menu_btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu_btn__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_nav {
  margin: 0 16px;
}

.menu_nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.menu_auth__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.menu_auth__input button {
  font-weight: 400;
  font-size: 20px;
}

.roadmap {
  margin: 48px 0;
}

.team {
  margin: 48px 0;
}

.footer {
  padding: 16px 0 48px;
  /*background: #121212;*/
}

/*.footer:hover{
	transition: 0.12s;
	background: #121212;
}*/
.footer__cont {
  max-width: 1184px;
  margin: 0 auto;
}

.footer__social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  padding: 0 0 0 25px;
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.svg_btn {
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

.svg_btn:hover {
  opacity: 0.3;
}

.svg_btn:active {
  opacity: 0.08;
}

.footer__nav {
  padding: 48px 3.15893386% 56px;
  margin: 0 auto;
}

.footer_nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}

.footer_nav__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer_nav__title {
  margin: 0 0 16px 0;
}

.footer_nav__btn {
  margin: 0 0 16px 0;
}

.footer_nav__btn:last-child {
  margin: 0;
}

.footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.footer__text p:first-child a {
  text-decoration: none;
}

.footer__text a {
  color: #ececec;
  text-decoration: underline;
}